<!-- TODO Change img and coptright name -->
<div class="layout-topbar">
    <button #menubutton class="p-link layout-menu-button layout-topbar-button" (click)="layoutService.onMenuToggle()">
        <i class="pi pi-bars"></i>
    </button>

    <button #topbarmenubutton class="p-link layout-topbar-menu-button layout-topbar-button"
        (click)="layoutService.showProfileSidebar()">
        <i class="pi pi-ellipsis-v"></i>
    </button>

    <a class="layout-topbar-logo" routerLink="">
        <!-- <img src="assets/layout/images/{{layoutService.config.colorScheme === 'light' ? 'logo-dark' : 'logo-white'}}.svg"
            alt="logo"> -->
        <span class="text-white">Smart Hospital Application (For Medical Personnel)</span>
    </a>

    <div #topbarmenu class="layout-topbar-menu"
        [ngClass]="{'layout-topbar-menu-mobile-active': layoutService.state.profileSidebarVisible}">
        <button pButton class="text-lg p-button-sm p-2 opacity-90"
            style="min-width: 150px; background-color: white; border: 1px solid white; color: black;"
            [label]="currentUser.username" (click)="menu.toggle($event)">
            <i class="pi pi-user font-bold px-3"></i>
        </button>
        <p-menu #menu [model]="menuitems" [popup]="true" appendTo="body"></p-menu>
    </div>
</div>