<div class="content-conatiner">
  <page-header [title]="'ข้อมูลยา'" [label]="'เพิ่มยา'" (onClickButton)="openCreate()">
  </page-header>
  <ng-container *ngIf="listDrug.length; else noData">
    <p-table [value]="listDrug" [tableStyle]="{ 'min-width': '50rem' }">
      <ng-template pTemplate="header">
        <tr>
          <th style="width: 60px;">ลำดับ</th>
          <th> ชื่อสามัญ/ทางการค้า </th>
          <th style="width: 115px;" class="text-center"> ขนาด/ปริมาณ </th>
          <th> กลุ่มยา </th>
          <th> คำอธิบายสรรพคุณ </th>
          <th style="width: 100px;" class="text-center">จัดการ</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-item let-rowIndex="rowIndex">
        <tr>
          <td class="text-center">{{ rowIndex + 1 }}</td>
          <td>{{ item.name }}</td>
          <td class="text-center">{{ item.dosage }}</td>
          <td>{{ item.drugGroup }}</td>
          <td>{{ item.description }}</td>
          <td>
            <div class="flex justify-content-center">
              <button pButton class="p-button-secondary p-button-text p-button-rounded p-button-sm mr-2"
                icon="pi pi-pencil" (click)="openEdit(item)"></button>
              <button pButton class="p-button-danger p-button-text p-button-rounded p-button-sm" icon="pi pi-trash"
                (click)="deleteItem(item)"></button>
            </div>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </ng-container>
  <ng-template #noData>
    <no-datalist [message]="'ผู้ใช้งาน'" [buttonLabel]="'เพิ่มผู้ใช้งาน'"></no-datalist>
  </ng-template>
</div>


<p-dialog header="ยา" [(visible)]="visibleCreateDrug" [style]="{width: '50vw'}" (visibleChange)="resetForm()">
  <div [formGroup]="formData">
    <div class="grid mb-3">
      <div class="col-12 -mb-2">
        <label class="required"> ชื่อสามัญ/ชื่อทางการค้า </label>
      </div>
      <div class="col-12">
        <input type="text" placeholder="ชื่อสามัญ/ชื่อทางการค้า" class="p-inputtext-sm" pInputText
          formControlName="name">
      </div>
    </div>

    <div class="grid mb-3">
      <div class="col-12 -mb-2">
        <label class="required"> กลุ่มยา </label>
      </div>
      <div class="col-12">
        <input type="text" placeholder="กลุ่มยา" class="p-inputtext-sm" pInputText formControlName="drugGroup">
      </div>
    </div>

    <div class="grid mb-3">
      <div class="col-12 -mb-2">
        <label class="required"> ขนาด/ปริมาณ </label>
      </div>
      <div class="col-12">
        <input type="text" placeholder="ขนาด/ปริมาณ" class="p-inputtext-sm" pInputText formControlName="dosage">
      </div>
    </div>

    <div class="grid mb-3">
      <div class="col-12 -mb-2">
        <label> คำอธิบาย </label>
      </div>
      <div class="col-12">
        <textarea rows="5" pInputTextarea formControlName="description"></textarea>
      </div>
    </div>

    <div class="grid mb-3">
      <div class="col-12 -mb-2">
        <label class="required"> รูปภาพ </label>
      </div>
      <div class="col-12">
        <input type="text" placeholder="ชื่อข่าวสาร/ประชาสัมพันธ์" class="p-inputtext-sm mb-2" pInputText
          formControlName="img">
        <p-fileUpload #fileUploader mode="basic" chooseIcon="pi pi-upload" name="demo[]"
          accept="image/png,image/jpeg,image/gif,application/pdf" [chooseLabel]="'อัพโหลดไฟล์'" [auto]="true"
          [maxFileSize]="10000000" [multiple]="false" [customUpload]="true" (uploadHandler)="onUpload($event)">
        </p-fileUpload>
      </div>
    </div>

    <p-divider></p-divider>
    <div class="flex justify-content-end">
      <button pButton class="p-button-success p-button-sm w-full" icon="pi pi-save" label="เพิ่ม"
        (click)="createDrug()"></button>
    </div>
  </div>
</p-dialog>

<p-dialog header="ยา" [(visible)]="visibleEditDrug" [style]="{width: '50vw'}" (visibleChange)="resetForm()">
  <img src="{{selectedDrug.img}}" class="w-full" height="400">

  <div class="grid mb-3">
    <div class="col-12 -mb-2">
      <label class="required"> ชื่อสามัญ/ชื่อทางการค้า </label>
    </div>
    <div class="col-12">
      <input type="text" placeholder="ชื่อสามัญ/ชื่อทางการค้า" class="p-inputtext-sm" pInputText
        [(ngModel)]="selectedDrug.name">
    </div>
  </div>

  <div class="grid mb-3">
    <div class="col-12 -mb-2">
      <label class="required"> กลุ่มยา </label>
    </div>
    <div class="col-12">
      <input type="text" placeholder="กลุ่มยา" class="p-inputtext-sm" pInputText [(ngModel)]="selectedDrug.drugGroup">
    </div>
  </div>

  <div class="grid mb-3">
    <div class="col-12 -mb-2">
      <label class="required"> ขนาด/ปริมาณ </label>
    </div>
    <div class="col-12">
      <input type="text" placeholder="ขนาด/ปริมาณ" class="p-inputtext-sm" pInputText [(ngModel)]="selectedDrug.dosage">
    </div>
  </div>

  <div class="grid mb-3">
    <div class="col-12 -mb-2">
      <label> คำอธิบาย </label>
    </div>
    <div class="col-12">
      <textarea rows="5" pInputTextarea [(ngModel)]="selectedDrug.description"></textarea>
    </div>
  </div>

  <p-divider></p-divider>
  <div class="flex justify-content-end">
    <button pButton class="p-button-success p-button-sm w-full" icon="pi pi-save" label="อัพเดต"
      (click)="updateDrug()"></button>
  </div>
</p-dialog>