<div class="w-full shadow-2 border-round-md p-3 content-height">
  <ng-container *ngIf="selectedConversation;else notSelect">
    <div class="flex flex-column h-full">
      <div class="h-full overflow-y-scroll">
        <ng-container *ngFor="let message of listMessages">
          <ng-container *ngIf="!message.isMe">
            <div class="flex mb-2">
              <div class="w-max  shadow-2 border-1 border-200 border-round-md p-3">
                {{ message.content }}
              </div>
              <div class="ml-2 flex align-items-end text-gray-400">
                {{ message.createdAt | date:'hh:mm' }}
              </div>
            </div>
          </ng-container>
          <ng-container *ngIf="message.isMe">
            <div class="flex mb-2 justify-content-end">
              <div class="mr-2 flex align-items-end text-gray-400">
                {{ message.createdAt | date:'hh:mm' }}
              </div>
              <div class="w-max shadow-2 text-white border-round-md p-3 custom-background">
                {{ message.content }}
              </div>
            </div>
          </ng-container>
        </ng-container>
      </div>

      <div class="flex mt-3">
        <input type="text" pInputText [(ngModel)]="message" class="p-inputtext-sm" (keydown.enter)="sendMessage()">
        <button pButton type="button" icon="pi pi-send" class="p-button-sm p-button-success ml-2"
          (click)="sendMessage()"></button>
      </div>
    </div>
  </ng-container>
  <ng-template #notSelect>
    <div class="flex flex-column justify-content-center align-items-center h-full">
      <i class="pi pi-comments text-gray-500" style="font-size: 4rem"></i>
      <p class="text-center text-gray-500 text-2xl mt-2">เลือกการสนทนา</p>
    </div>
  </ng-template>
</div>